
html{
  min-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

   background: url('./img/mariobg.jpg');
   background-position: bottom;
   background-size: 100%;
   background-color: #95e8f3;
}
form{
  padding: 1rem;
  margin-top: 2rem;
}
form button,form h5{
  margin: 1rem 0;
}
 
input[type=text]:not(.browswer-default):focus:not([readonly]),
input[type=email]:not(.browswer-default):focus:not([readonly]),
input[type=password]:not(.browswer-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}
